@namespace WatchIT.Website.Layout
@inherits LayoutComponentBase

<div class="layout-body">
    <div class="section header">
        <div class="vertical-center">
            <div>
                <a href="/">
                    <div>
                        <h1>WatchIT</h1>
                    </div>
                </a>
            </div>
            <div>
            </div>
            <div>
                <a href="/auth">
                    <div>
                        <p>Sign in</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @Body

    <div class="section footer">
    </div>
</div>